text {
  fill: #333;
  font-size: 12px; }

.background {
  fill: none;
  pointer-events: all; }

.unit {
  cursor: pointer;
  fill: #ccc;
  stroke: #000;
  stroke-width: 0.4px;
}

.active {
  stroke-width: 1.1px;
}

.legend-bg {
  fill: #fff;
  fill-opacity: 0.5; }

.legend-bar {
  stroke: #333;
  stroke-width: 0.5px;
  }

#header {
 padding: 30px;
 text-align: center;
 background: #312b42;
 color: white;
 font-size: 25px;
 font-family: "Times New Roman", Times, serif;
 overflow: auto;
}
