<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>

<script src="libraries/jquery.min.js"></script>

<script src="libraries/d3.js"></script>
<script src="libraries/topojson.v1.min.js"></script>
<script src="libraries/versor.min.js"></script>
<script src="libraries/d3-inertia.min.js"></script>
<script src="libraries/d3-simple-slider.js"></script>

<script src="libraries/d3-scale-chromatic.v1.min.js"></script>
<script src="libraries/d3-geo-projection.v2.min.js"></script>
<script src="libraries/d3-legend.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- StoryTelling form - 1st page for Title and other content, 2nd Page for the visualization  -->
<!-- If needed to add another page, just copy the title container and change the name of the classes -->
<div class="title-container">
  <div class="topleft">
    <img src="images/logo_polyscientist.png" alt="logo_polyscientist" style="height : 20%">
  </div>
  <img src="images/Bee_pollinating_a_rose.jpg" alt="Bee_pollinating_a_rose" style = "width:100%; height:84%;" vspace = 60>
  <div class="centered">Pollination Contribution to Nutrition</div>
</div>

<div class="title-container2">
  <div class="quote-container">
    <h1 class="h1_page"> There is no Plan Bee for when we run out of pollinators</h1> <br>
    <p class="p_page1">Pollination is a vital process of nature that isn’t very well known,<br>  but is extremely important in the food growing processes.<br>
      Pollen has to be transferred between two flowers of the same species,<br>  which then fertilizes the flower and allows the production of healthy seeds on the plant.
    </p>
  </div>
  <div>
    <div class="column" style="background-color:gb(207, 206, 201);">
      <h2 class = h2_page>Pollinators:</h2>
        <ul class = "p_page2">
            <li>Bees: The most recognized pollinators are the various species of bees,
              which are plainly adapted to pollination. Bees typically are fuzzy and carry an electrostatic charge.
              Both features help pollen grains adhere to their bodies.</li>
            <li>Other insects: Many insects other than bees accomplish pollination by visiting flowers for nectar or pollen,
              or commonly both. Many do so accidentally.</li>
        </ul>
    </div>
    <div class="column" style="background-color:gb(227, 226, 221);">
      <h2 class = h2_page> SSPs:</h2>
      <p class = "p_page2">An international team of climate scientists,
        economists and energy systems modellers have built a range of new “pathways” that examine how global society,
        demographics and economics might change over the next century. They are collectively known as
        the “Shared Socioeconomic Pathways”</p>
      <ul class = "p_page2">
          <li>SSP1: Sustainability – Taking the Green Road.</li>
          <li>SSP3: Regional Rivalry – A Rocky Road.</li>
          <li>SSP5: Fossil-fueled Development – Taking the Highway.</li>
      </ul>
    </div>
    <div class="column" style="background-color:rgb(247, 246, 241);">
      <h2 class = h2_page>Productions</h2>
      <ul class = "p_page2">
          <li>Folate (vitamin B-9): is important in red blood cell formation and for healthy cell growth and function(Unit: mcg DFE).</li>
          <li>Energy: Food energy is chemical energy that animals (including humans) derive from food through the process of cellular respiration(Unit: kcal).</li>
          <li>Vitamin A is involved in immune function, vision, reproduction, and cellular communication(Unit: mcg RE).</li>
      </ul>
    </div>
  </div>
</div>

<!-- for the PopUpwindow -->
<div id="ac-wrapper" style='display:none' onClick="hideNow(event)" >
<div id="popup" class = "grad1" >
    <center>
         <h2 class = "h2_page">How to use ?</h2>
         <p>
           <ul class = "p_popup">
               <li>On the Left:
                 <ul>
                   <li>The info button lets you call this popup again</li>
                   <li>The button lets you choose the whether you want to visualize the globe in 3D or 2D</li>
                   <li>The legend shows the colors as percentages</li>
                  </ul>
              </li>
              <li>In the center:
                <ul>
                  <li>Here we have the globe</li>
                  <li>You can interact with it by rotating it using the mouse or by clicking on a country to display the information we have about it.</li>
                 </ul>
              </li>
              <li>On the right:
                <ul>
                  <li>All the information about the specific country is displayed</li>
                  <li>You can choose ehat kind of information to display by clicking on the buttons</li>
                 </ul>
              </li>
              <li>On the bottom:
                <ul>
                  <li>You can select the year you want to visualize using the slider</li>
                 </ul>
              </li>

           </ul>
        </p>
        <input type="submit" name="submit" value="Got it !" onClick="PopUp('hide')" />
    </center>
</div>
</div>
<!-- End of popup window -->

<div class="box-container">
  <div class="box box-1">
    <input type="button" name="answer" value="info" onclick="showNow()" />
    <!-- <button style="font-size:24px"><i class="fa fa-info-circle"></i></button> -->
    <label class="switch">
      <input type="checkbox" id="projectionChangeChecked" onclick="projectionChecked()" autocomplete="off">
      <span class="slider"></span>
    </label>
  </div>
  <div class="box box-2">
    <div id="slider3"></div>
    </div>
  <div class="box box-3">
    <h1 id="box-3-header">
      Nature's Contribution to Pollination in 1945
    </h1>
    <h1 id="box-3-header-2">
      World
    </h1>
    <div class="switch_3_ways" style="display:none;">
      <div id="ssp1" class="switch ssp1" onclick="change_period('ssp1')">SSP1</div>
      <div id="ssp3" class="switch ssp3" onclick="change_period('ssp3')">SSP3</div>
      <div id="ssp5" class="switch ssp5" onclick="change_period('ssp5')">SSP5</div>

       <div id="selector" class="selector"></div>

    </div>
      <div class = "box box-small">
        Population: 7.2B
      </div>
      <p id="text-box">
        Folate (vitamin B-9) is important in red blood cell formation and for healthy cell growth and function.
      </p>
      <p class = "box box-small" id = "folate_production">
        Folate Production: 5.93474e+14 mcg
      </p>
      <p id="text-box">
        Food energy is chemical energy that animals (including humans) derive from food through the process of cellular respiration.
      </p>
      <div class = "box box-small">
        Energy Production:
      </div>
      <p id="text-box">
        Vitamin A is involved in immune function, vision, reproduction, and cellular communication.
      </p>
      <div class = "box box-small">
        Vitamin A Production:
      </div>
  </div>

  <!-- Add buttons for folate, vitamin, energy  -->
  <div class="parent-button-div">
    <div class="folate-button">
      <h1 class="button-title">Folate</h1>
    </div>
    <div class="vitamin-button">
      <h1 class="button-title">Vitamin</h1>
    </div>
    <div class="energy-button">
      <h1 class="button-title">Energy</h1>
    </div>
  </div>

</div>

<script>

// For the popup window
function PopUp(hideOrshow) {

    if (hideOrshow == 'hide') {
        document.getElementById('ac-wrapper').style.display = "none";
    }

    else  if(localStorage.getItem("popupWasShown") == null) {
        localStorage.setItem("popupWasShown",1);
        document.getElementById('ac-wrapper').removeAttribute('style');
    }

}
window.onload = function () {
    setTimeout(function () {
        PopUp('show');
    }, 0);
}


function hideNow(e) {
    if (e.target.id == 'ac-wrapper') document.getElementById('ac-wrapper').style.display = 'none';
}
function showNow() {
    document.getElementById('ac-wrapper').style.display = "inline";
}

// End of popup window

  var width = $(".box.box-2").width(), height = $(".box.box-2").height(), active = d3.select(null);

  var previousCountryClicked = 'WRD';
  var path, projection, zoom = null;
  var inertia;

  var svg = d3.select(".box.box-2").append("svg")
      .attr("width", width)
      .attr("height", height)
      .on("click", stopped, true);
  var g = svg.append('g');

  // Add projection to the viz
  changeProjection(false);

  //Data and color scale and legend
  var colorScheme = d3.schemeRdYlGn[6];
  colorScheme.unshift("#eee");
  var colorScale = d3.scaleThreshold()
      .domain([0, 1, 20, 40, 60, 80, 100])
      .range(colorScheme);

  // Getting the Legend and setting the color scale on the legend
  var svg_legend = d3.select(".box.box-1").append("svg")
  var g_legend = svg_legend.append("g")
      .attr("class", "legendThreshold")
      .attr("transform", "translate(10,20)");

  g_legend.append("text")
      .attr("class", "caption")
      .attr("x", 0)
      .attr("y", -4)
      .text("in %");

  var labels = ['0', '1-20', '21-40', '41-60', '61-80', '81-99', '100'];
  var legend = d3.legendColor()
      .labels(function (d) { return labels[d.i]; })
      .shapePadding(4)
      .scale(colorScale);
  svg_legend.select(".legendThreshold")
      .call(legend);

  let global_folate = load("dataset/folate_data.csv");

  let data_folate = {};
  d3.csv('dataset/folate_data.csv', function(error, data) {
      data.forEach(function(d) {
        data_folate[d.iso3] = global_folate[d.iso3]["2015"];
      });
  });
    // Loading the data for the testing file - Chloropleth
  let global_data_c = load('dataset/country_energy.csv');
  let data_c = {};
  d3.csv('dataset/country_energy.csv', function(error, data) {
    data.forEach(function(d) {
      data_c[d.iso3] = global_data_c[d.iso3]["1945"];
    });
  });

  // Calling the ready function to render everything even chloropleth
  ready();

  // Lat - Long Coordinates for Nigeria - Example
  // Data is in Lat Long, but for coding the sequence is Long Lat
  var coordinates = {};
  coordinates['NGA'] = [[4.5, 13.5], [5.5, 13.5], [9.5, 9.5], [11.5, 8.5], [12.5,11.5]];

  function load(dataset) {
    let result = {};
    d3.csv(dataset, function(error, data) {
      data.forEach(function(d) {
        result[d.iso3] = d;
        });
      });
    return result;
  }

  function projectionChecked() {
    var projectionSlider = document.getElementById("projectionChangeChecked");
    changeProjection(projectionSlider.checked);
  }

  function changeProjection(sliderChecked) {
    // Add background to the globe
    let planet_radius = d3.min([width / 2, height / 2]);

    // Can change the scale and extent of the zoom
    zoom = d3.zoom()
        .scaleExtent([1, 12])
        .on("zoom", zoomed);

    // Changing the scale will change the size - height and width of globe
    if(sliderChecked) {
        projection = d3.geoNaturalEarth()
          .scale(planet_radius*0.45)
          .translate([width / 2, height / 2])
          .precision(.1);
    } else {
      projection = d3.geoOrthographic()
        .scale(planet_radius*0.844)
        .translate([width / 2, height / 2])
        .precision(.1);

      // inertia versor dragging after everything has been rendered
      inertia = d3.geoInertiaDrag(svg, function() { render(); }, projection);
    }

    path = d3.geoPath()
      .projection(projection);

    // Redraw the all projections
    svg.selectAll('path').transition().duration(500).attr('d', path);
  }

  function ready() {
    d3.json("world/countries.json", function(error, data) {
      if (error) throw error;

      var features = topojson.feature(data, data.objects.units).features;

      g.selectAll("path")
          .data(features)
        .enter().append("path")

          // Chloropleth code
          .attr("fill", function (d){
                // Pull data for particular iso and set color - Not able to fill it
                d.total = data_c[d.properties.iso3] || 0;
                return colorScale(d.total);
            })
          // End of Chloropleth code
          .attr("d", path)
          .attr("class", "feature")
          .on("click", clicked);

      // Creates a mesh around the border
      g.append("path")
          .datum(topojson.mesh(data, data.objects.units, function(a, b) { return a !== b; }))
          .attr("class", "mesh")
          .attr("d", path);
    });
  }

  function render(){
    update(projection.rotate());
  }

  function update(eulerAngles){
    projection.rotate(eulerAngles);
    svg.selectAll("path").attr("d", path);
    svg.selectAll(".plot-point")
      .attr("cx", d => projection(d)[0])
      .attr("cy", d => projection(d)[1]);
  }

  let countryName = document.getElementById("box-3-header-2");
  let title = document.getElementById("box-3-header");
  let folateProduction = document.getElementById("folate_production");

  function clicked(d) {
    if (active.node() === this) return reset();
    active.classed("active", false);
    active = d3.select(this).classed("active", true);

    // Get info of the active country/feature
    let active_info = active.node();

    // For centering the globe to that particular country
    geo_centroid = d3.geoCentroid(active_info.__data__);

    var bounds = path.bounds(d),
        dx = bounds[1][0] - bounds[0][0],
        dy = bounds[1][1] - bounds[0][1],
        x = (bounds[0][0] + bounds[1][0]) / 2,
        y = (bounds[0][1] + bounds[1][1]) / 2,

        // Change the scale to change the zoom when you select a country
        scale = Math.max(1, Math.min(12, 0.9 / Math.max(dx / width, dy / height)));
        // translate = [width / 2 - scale * geo_centroid[0], height / 2 - scale * geo_centroid[1]];

    // For disabling the toggle button when you are zoomed in
    document.getElementById("projectionChangeChecked").disabled = true;

    svg.transition()
        .duration(750)
        .tween('rotate', function() {
          var r = d3.interpolate(projection.rotate(), [-geo_centroid[0], -geo_centroid[1]]);
          return function(t) {
            projection.rotate(r(t));
            svg.selectAll("path").attr("d", path);
          }
        })
        // TODO: Need to set it on the basis of the size of the country to fit in the whole svg
        .call(zoom.scaleTo, scale);

    //popData.innerHTML = "Population: " + active_info.__data__.properties.name;
    countryName.innerHTML = active_info.__data__.properties.name;
    if (data_folate[active_info.__data__.properties.iso3] != null)
      folateProduction.innerHTML = "Folate Production: " + data_folate[active_info.__data__.properties.iso3] + " mcg";
    else
      folateProduction.innerHTML = "Folate Production: Not Measured"

    if(active_info.__data__.properties.iso3 in coordinates) {
      if(previousCountryClicked !== null) {
          svg.selectAll('.plot-point').remove();
      }
      // The regions should appear after we zoom in the country
      setTimeout(function() {
          showData(coordinates[active_info.__data__.properties.iso3]);
      }, 751) // Should be more than 750 -> more than duration
    } else {
      if(previousCountryClicked !== null) {
          svg.selectAll('.plot-point').remove();
      }
    }

    previousCountryClicked = active_info.__data__.properties.iso3
  }

function showData(coordinates) {
    // Add circles to the country which has been selected
    // Removing part is within

    g.selectAll(".plot-point")
        .data(coordinates).enter()
        .append("circle")
        .classed('plot-point', true)
        .attr("cx", function (d) {
            return projection(d)[0];
        })
        .attr("cy", function (d) {
            return projection(d)[1];
        })
        .attr("r", "0.8px")
        .attr("fill", "#F0B0EE");
  }

  function zoomed() {
    // 1.5 here refers to the stroke width of the borders
    g.style("stroke-width", 1.5 / d3.event.transform.k + "px");
    g.attr("transform", d3.event.transform);
  }

  function reset() {
    active.classed("active", false);
    active = d3.select(null);

    // Remove everything from map which is not selected anymore
    svg.selectAll('.plot-point').remove();

    svg.transition()
        .duration(750)
        .call(zoom.transform, d3.zoomIdentity);

    // Change the toggle back to enabled
    document.getElementById("projectionChangeChecked").disabled = false;

    countryName.innerHTML = "World";
    //folateProduction.innerHTML = "Folate Production: 10B mcg";
    previousCountryClicked = 'WRD';
    display_folate();
  }

  // If the drag behavior prevents the default click,
  // also stop propagation so we don’t click-to-zoom.
  function stopped() {
    if (d3.event.defaultPrevented) d3.event.stopPropagation();
  }

let years = ["1850", "1900", "1950", "2000", "2050", "2100", "2150"]
let actualData = ["1850", "1900", "1910", "1945", "1980", "2015", "2050"]

var formatToData = function(d) {
  // TO BE OPTIMIZED WITH A DICTIONARY
    if (d == 1850 || d == 1900) return d;
    if (d == 1950) return 1910;
    if (d == 2000) return 1945;
    if (d == 2050) return 1980;
    if (d == 2100) return 2015;
    if (d == 2150) return 2050;
}

function display_folate() {
  if (data_folate[previousCountryClicked] != null)
    folateProduction.innerHTML = "Folate Production: " + data_folate[previousCountryClicked] + " mcg";
  else
    folateProduction.innerHTML = "Folate Production: Not Measured"
}

function select_folate(period) {
  d3.csv('dataset/folate_data.csv', function(error, data) {
    data.forEach(function(d) {
      data_folate[d.iso3] = global_folate[d.iso3][period];
    });
    display_folate();
  });
}

function select_contribution_energy(period) {
  d3.csv('dataset/country_energy.csv', function(error, data) {
    data.forEach(function(d) {
      data_c[d.iso3] = global_data_c[d.iso3][period];
    });
    g.selectAll("path").attr("fill", function (d) {
          // Pull data for particular iso and set color - Not able to fill it
          if(d.type == 'Feature') {
              d.total = data_c[d.properties.iso3] || 0;
          } else {
          }
          return colorScale(d.total);
      })
  });
}

let current_SSP = "SSP1";

let slider = d3.sliderHorizontal()
  .min(1850)
  .max(2150)
  .step(50)
  .default("2000")
  .width(400)
  .tickValues(years)
  .tickFormat(formatToData)
  .on("onchange", val => {
    // Here, the value we check for is still the original one, not the formatted one
    if (val == 1850) {
      title.innerHTML = "Nature's Contribution to Pollination in 1850";
      removeSSPs();
      select_folate("1850");
      select_contribution_energy("1850");
    }

    if (val == 1900) {
      title.innerHTML = "Nature's Contribution to Pollination in 1900";
      removeSSPs();
      select_folate("1900");
      select_contribution_energy("1900");
    }

    if (val == 1950) {
      title.innerHTML = "Nature's Contribution to Pollination in 1910";
      removeSSPs();
      select_folate("1910");
      select_contribution_energy("1910");
    }

    if (val == 2000) {
      title.innerHTML = "Nature's Contribution to Pollination in 1945";
      removeSSPs();
      select_folate("1945");
      select_contribution_energy("1945");
    }

    if (val == 2050) {
      title.innerHTML = "Nature's Contribution to Pollination in 1980";
      removeSSPs();
      select_folate("1980");
      select_contribution_energy("1980");
    }

    if (val == 2100) {
      title.innerHTML = "Nature's Contribution to Pollination in 2015";
      removeSSPs();
      select_folate("2015");
      select_contribution_energy("2015");
    }

    if (val == 2150) {
      showSSPs();
      title.innerHTML = "Nature's Contribution to Pollination in 2050 - " + current_SSP;
      select_folate(current_SSP);
      select_contribution_energy(current_SSP);
    }
  });

function change_period(period){
    var ssp1 = document.getElementById("ssp1");
    var ssp3 = document.getElementById("ssp3");
    var ssp5 = document.getElementById("ssp5");
    var selector = document.getElementById("selector");
    if (period === "ssp1") {
      title.innerHTML = "Nature's Contribution to Pollination in 2050 - SSP1";
      selector.style.left = 0;
      selector.style.width = ssp1.clientWidth + "px";
      selector.style.backgroundColor = "#777777";
      selector.innerHTML = "SSP1";
      current_SSP = "SSP1";
    } else if (period === "ssp3") {
      selector.style.left = ssp1.clientWidth + "px";
      selector.style.width = ssp3.clientWidth + "px";
      selector.innerHTML = "SSP3";
      selector.style.backgroundColor = "#418d92";
      current_SSP = "SSP3";
    } else {
      title.innerHTML = "Nature's Contribution to Pollination in 2050 - SSP5";
      selector.style.left = ssp1.clientWidth + ssp3.clientWidth + 1 + "px";
      selector.style.width = ssp5.clientWidth + "px";
      selector.innerHTML = "SSP5";
      selector.style.backgroundColor = "#4d7ea9";
      current_SSP = "SSP5";
    }
    select_folate(current_SSP);
    select_contribution_energy(current_SSP);
    title.innerHTML = "Nature's Contribution to Pollination 2050 - " + current_SSP;
  }

function showSSPs() {
  document.getElementsByClassName('switch_3_ways')[0].style.display = "block";
}

function removeSSPs() {
  document.getElementsByClassName('switch_3_ways')[0].style.display = "none";
}

var group = d3.select(".box.box-2").append("svg")
  .attr("width", 900)
  .attr("height", 70)
  .append("g")
  .attr("transform", "translate(280, 12)")
  .call(slider);
</script>


</body>
</html>
